<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whoami.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B5F39CB374B531473287D1B678E3D3C8EFE8D9A6</string>
				<key>dateExpires</key>
				<string>12/9/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F6MK5AKLRQ.com.ziszap.whoami</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F6MK5AKLRQ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>whoami.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5a1a7efa-b5f1-40d8-a1d1-96597a72ed6a</string>
				<key>dateExpires</key>
				<string>18/9/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ziszap.whoami</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F6MK5AKLRQ</string>
				<key>name</key>
				<string>Defter SADREL</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
